@import url("./home.css");
@import url("./header.css");

body {
    background-color: lightgray;
    min-height: 90vh;
    padding: 0;
    margin: 0;
    /* background-image: url("../images/background-image.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
}