.app-header {
    height:5em;;
    padding-left: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
    background-color: white;
}
.app-header > h2 {
    margin: 0;
    font-family: 'Cylburn', sans-serif;
    color: black;
    text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
    font-size: 60px;
}
#user-img {
    margin-right: 1em;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
    border-radius: 100%
}
#user-img > img {
    height: 3em;
}
#user-img:hover {
    transform: scale(1.1);
}
#user-img:active {
    transform: scale(0.9);
}